.Activites{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

h2{
    margin: auto;
    padding: 12px;
}

p{
    margin: auto;
    padding: 12px;
    font-size: x-large;
    
}